body{
  font-family: monospace;
  font-size: 16px;
}

details{
  padding-left: 17px;
  user-select: none;
}

summary{
  margin-left: -17px;
}

span.term{
  display: block;
}

.buttons, .tree{
  margin-bottom: 8px;
}

.buttons button{
  display: block;
  margin: 8px 0px;
}