body{
  margin: 0px;
  background: black;
}

video{
  width: 100%;
  height: 100%;
}

canvas{
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

video[controls]{
  pointer-events: none;
}